version: '3.8'

services:
  # 1. Backend Servisi
  backend:
    build: ./backend
    ports:
      - "8000:8000"
    volumes:
      - ./backend:/app
    environment:
      DATABASE_URL: "postgresql://postgres:reklagram_pass@db_postgres:5432/reklagram_db"
      SECRET_KEY: "bu-cok-gizli-bir-anahtar-ve-uzun-olmasi-gerekir-12345"
      ALGORITHM: "HS256"
      ACCESS_TOKEN_EXPIRE_MINUTES: "30"
      MAIL_USERNAME: "senaatesdev@gmail.com"
      MAIL_PASSWORD: "buwm hyjs rdxb lyge"
      MAIL_FROM: "senaatesdev@gmail.com"
      MAIL_PORT: "587"
      MAIL_SERVER: "smtp.gmail.com"
    depends_on:
      - db_postgres
    networks:
      - reklagram_network

  # 2. Frontend Servisi
  frontend:
    build: ./frontend
    ports:
      - "3000:3000"
    volumes:
      - ./frontend:/app
      - /app/node_modules
      - /app/.next
    environment:
      NEXT_PUBLIC_API_URL: "http://localhost:8000"
    depends_on:
      - backend
    networks:
      - reklagram_network
    command: yarn dev

  # 3. PostgreSQL Veritabanı
  db_postgres:
    image: timescale/timescaledb:latest-pg14
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: reklagram_pass
      POSTGRES_DB: reklagram_db
    volumes:
      - db_data:/var/lib/postgresql/data
    networks:
      - reklagram_network

  # 4. MongoDB Veritabanı
  db_mongodb:
    image: mongo:latest
    restart: always
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: reklagram_mongo_pass
    volumes:
      - mongo_data:/data/db
    networks:
      - reklagram_network

  # 5. Adminer (Veritabanı İzleme) - DÜZELTİLDİ
  adminer:
    image: adminer
    restart: always
    ports:
      - "8081:8080"
    networks:
      - reklagram_network # Bu satır çok önemli, yoksa db'yi görmez!
    depends_on:
      - db_postgres

# Volume Tanımları
volumes:
  db_data:
  mongo_data:

    # Ağ Tanımı
networks:
  reklagram_network:
    driver: bridge
